{% sw_extends '@Storefront/storefront/element/cms-element-image-gallery.html.twig' %}

{% block element_image_gallery %}
    {% block element_image_gallery_inner %}
        {% set mediaItems = [] %}

        {% if page.extensions['salesChannelContents'] is defined and page.extensions['salesChannelContents']|length > 0 %}
            {% set salesChannelContent = page.extensions['salesChannelContents'][0] %}

            {% if salesChannelContent.salesChannelId == context.salesChannel._uniqueIdentifier and salesChannelContent.coverImageId is defined %}
                {% set mediaItems = searchMedia([salesChannelContent.coverImageId], context.context) %}
            {% endif %}
        {% endif %}

        {% if mediaItems is empty and element.data is defined and element.data.sliderItems is defined %}
            {% for item in element.data.sliderItems %}
                {% set mediaItems = mediaItems|merge([item.media]) %}
            {% endfor %}
        {% endif %}

        <div class="cms-element-{{ element.type }}">
            <div class="gallery-slider">
                {% for image in mediaItems %}
                    {% if image is defined and image is not empty %}
                        <div class="gallery-slider-item">
                            <img src="{{ image.url }}" alt="{{ image.translated.alt ?: 'Product Image' }}" class="img-fluid">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endblock %}

{% endblock %}